.boxs{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.bigBox{
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;    
  }